body {
     font-family: 'Gayathri', sans-serif;
     height: 100em;   /*2700/2700*100*/
     font-size: 100%;
}

.mainhead {
     width: 100em;
     height: 5em; /*80/1600*100*/
     background: #a2a2a27e;
     z-index: 2;
     position: fixed;
}

.navbar {
    height: 5em;
    width: 65%;
    float: right;
    list-style: none;
}

.navbar li {
    display: inline-block;
    margin-left: 30px;
}

.navbar li:hover {
    text-shadow: 0 0 5px #7f1710;
}

.navbar a {
    font-size: 1.563em;   /*25/16*/
    text-decoration: none;
    font-variant: small-caps;
    color: #2a2a2a;
    vertical-align: middle;
    font-weight: 700;
}

.navbar li:last-child {
    margin-left: 1.3em;  /*20px*/
    border: 0.1em solid #000000;
    padding: 0.6em 1.3em 0.4em 1.3em;   /*10,20,6,20px*/
    border-radius: 0.3em; /*4px*/
}

.selected {
    font-style: italic;
}

.scnd_header {
    margin: 0;
    position: relative;
    top: -5em;
    height: 50em;  /*800/1600*100*/
    width: 100em;
    border: 0.1em solid #a2a2a211;
    background: url(../img/main_header.jpg) left top no-repeat;
    z-index: -999;
    background-size: cover;
}

.main_title {
    width: 70%;
    height: 18.8em;   /*300/1600*100*/
    margin: 21.9em auto;   /*350/1600*100*/
    z-index: 3;
}

.main_title h1 {
    text-align: center;
    padding: 1.3em 0.6em; 
    font-size: 3.125em;   /*50/16*/
    letter-spacing: 0.1em;
    font-family: 'Fjalla One', sans-serif;
    color: #000000;
    text-shadow: 0.1em 0.1em 0.2em #2a2a2a;
}

.main_title h2 {
    font-size: 1.875em; /*30/16*/
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-shadow: 0.1em 0.1em 0.2em #2a2a2a;
}

main {
    height: 1380px;
}

.firstA {
    width: 50%;
    height: 350px;
    margin: 0 auto;
}

.firstA h3 {
    text-align: center;
    font-weight: 500;
    font-variant: small-caps;
    font-size: 40px;
}

.firstA p {
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.group {
    width: 70%;
    height: 910px;
    margin: 0 auto;
}

.smallA {
    width: 45%;
    height: 300px;
    float: left;
}

.smallA2 {
    width: 45%;
    height: 300px;
    float: right;
}

.smallA2 p,
.smallA p {
    margin-left: 65px;
    overflow: hidden;
    text-align: justify;
}

.smallA2 img,
.smallA img {
    float: left;
    width: 64px;
    height: 64px;
    margin: 30px 20px 0 0;
}

.smallA2 h4,
.smallA h4 {
    font-size: 20px;
}

.pre_footer {
    width: 35%;
    margin: 0 auto;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    background: #7f1710;
}

.pre_footer a{
    font-variant: small-caps;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ffffff;
}

footer {
    width: 1350px;
    height: 40px;
    margin-top: 450px;
    background: #a2a2a2;
}

footer p {
    text-align: right;
    padding: 2px 30px 2px 0;
    font-size: 15px;
}

footer span{
    font-size: 20px;
}
